version: '3.8'
services:
  frontend:
    build: ./frontend
    ports:
      - "4200:4200"
    depends_on:
      - employee-service
      
  employee-service:
    build: ./backend/employee-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker